<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
 <form th:action="@{/processStudentForm}" th:object="${student}" method="post">
    First name: <input type="text" th:field="*{firstName}" />


    <br><br>

<!--    *{} is shortcut syntax for : ${student.lastName}}-->
    Last name: <input type="text" th:field="*{lastName}"/>

    <br><br>

     Country:

     <select th:field="*{country}">
         <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
     </select>

     <br><br>

     Favorite Programming Language
     <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang: ${languages}" th:value="${tempLang}" th:text="${tempLang}"/>
     <br><br>

     Favorite Operating Systems:
     <input type="checkbox" th:field="*{favoriteSystems}" th:each="tempSystems: ${systems}" th:value="${tempSystem}" th:text="${tempSystems}"/>


     <br><br>
     <input type="submit" value="Submit"/>
</form>
</body>
</html>